<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>

<body>
    <h1>LogIn Page</h1>
    <form action="/user/Login" method="post">

        <label>Email</label>
        <input type="text" required name="email" placeholder="jonedoe@mail.com">
        <label>Passowrd</label>
        <input type="text" required name="password" placeholder="*******">
        <button type="submit">LOGIN</button>
    </form>
</body>

</html>